# Ignorar dependências do Node.js
node_modules/
package-lock.json

# Arquivos da Vercel (caso queira ignorar configs locais)
.vercel/

# Arquivos de logs e temporários
*.log
*.zip
.DS_Store
/tmp/
.vercel
